<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">{{ _('Input ID') }}</label>
    <div class="controls">
      <input type="text" data-bind="value: inputEditor.index_id" readonly>
      <span class="help-inline">Auto generated ID for Input</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Name') }}</label>
    <div class="controls">
      <input type="text" data-bind="value: inputEditor.label, valueUpdate: 'afterkeydown'">
      <span class="help-inline">Name displayed on Enclosure Tab</span>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">{{ _('Input Type') }}</label>
    <div class="controls">
      <input type="radio" value="regular_gpio" data-bind="checked: input_type"> {{ _('GPIO Input') }}
    </div>
    <div class="controls">
      <input type="radio" value="temperature_sensor" data-bind="checked: input_type"> {{ _('Temperature Sensor') }}
    </div>
    <div class="control-group">
      <div class="controls">
        <!-- ko if: (outputEditor.input_type() == "regular_gpio")  -->
        <span class="help-inline">
          <span class="label label-info">Info:</span> GPIO will input status of the pin (HIGH or LOW) to trigger actions on configured outputs or printer events</span>
        <!-- /ko -->
        <!-- ko if: (outputEditor.input_type() == "temperature_sensor")  -->
        <span class="help-inline">
          <span class="label label-info">Info:</span> Temperature Sensors will input temperature and humidity data.
        </span>
        <!-- /ko -->
      </div>
    </div>
  </div>


  <!-- ko if: (outputEditor.input_type() == "regular_gpio")  -->
  <div class="control-group">
    <label class="control-label">{{ _('Action Type') }}</label>
    <div class="controls">
      <input type="radio" value="output_control" data-bind="checked: action_type"> {{ _('Output Control') }}
    </div>
    <div class="controls">
      <input type="radio" value="printer_control" data-bind="checked: action_type"> {{ _('Printer') }}
    </div>
  </div>
  <!-- /ko -->



</form>