<form class="form-horizontal">

    <div class="control-group">
        <div class="controls">
            <span class="help-inline">
                <span class="label label-info">Info:</span> PRINTER actions when a condition is met, that can be a
                filament sensor, button, etc. Actions can
                be Pause \ Resume \ Cancel a printer_control job, change the filament or disable Temperature Control.
                You can
                use the "change filament" action and set up the input GPIO according to your sensor, for example, if your
                filament
                sensor connects to ground when detects the end of the filament, you should choose PULL UP resistors and
                detect
                the event on the falling edge.
            </span>
        </div>
    </div>


</form>