<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">{{ _('IO Number') }}</label>
    <div class="controls">
      <input type="text" data-bind="value: outputEditor.gpio_pin">
      <span class="help-inline">GPIO number that will be controlled.</span>
    </div>
  </div>
  <!-- ko if: (outputEditor.output_type() == "regular" || outputEditor.output_type() == "temp_hum_control" )  -->
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: outputEditor.active_low"> {{ _('Active Low') }}
      </label>
      <span class="help-inline">Active low means that the GPIO will turn on when receive a low signal (ground) from Raspberry PI</span>
    </div>
  </div>
  <!-- /ko -->

</form>
