<form class="form-horizontal">

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: outputEditor.hide_btn_ui"> {{ _('Hide UI Button') }}
      </label>
      <span class="help-inline">If you plan to use a physical button (INPUT) and want to hide the button from enclosure
        tab check this.</span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: outputEditor.show_on_navbar"> {{ _('Show Button on Navbar') }}
      </label>
      <span class="help-inline">Add shortcut on navbar to toggle output</span>
    </div>
  </div>

</form>