
<div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.rpi_outputs">
    <!-- ko if: ($data.output_type() == "regular")  -->
    <h4>
        <p data-bind="html: label"></p>
    </h4>
    <button data-bind="click: $root.handleIO" class="btn">Turn on</button>
    <span class="glyphicon glyphicon-user glyphs-on" data-bind="click: $root.handleIO"></span>

    <!-- /ko -->

</div>





<div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.rpi_outputs">
    <!-- ko if: ($data.output_type() == "regular")  -->
    <h4>
        <p data-bind="html: label"></p>
    </h4>
    <button type="submit" data-bind="click: $root.handleIO.bind($data, [gpio_pin(), 'on']),
  enable: $root.enableBtn(), attr: {id: 'btn_on_' + $data.gpio_pin()}" class="btn">Turn on</button>
    <button type="submit" data-bind="click: $root.handleIO.bind($data, [gpio_pin(), 'off']),
  enable: $root.enableBtn(), attr: {id: 'btn_off_' + $data.gpio_pin()}" class="btn">Turn off</button>
    <!-- /ko -->
    <!-- ko if: ($data.output_type() == "pwm")  -->
    <h4>
        <p data-bind="html: label"></p>
    </h4>
    <table class="table" style="width: 100%;align:left;margin-top:0px;margin-bottom:0px;">
        <tr>
            <th style="vertical-align: middle;border-top:0px;padding:0px">{{ _('Duty Cycle:') }}</th>
            <td style="width: 20%;align:left;border-top:0px;padding:0px">
                <input type="text" class="input-block-level" data-bind="attr: {id: 'duty_cycle_' + $data.gpio_pin()}">
            </td>
            <td style="width: 60%;align:left;border-top:0px;padding:0px">
                <button type="submit" data-bind="click: $root.handlePWM.bind($data, [gpio_pin()]), enable: $root.enableBtn(),
          attr: {id: 'btn_pwm_' + $data.gpio_pin()}" class="btn">Set PWM</button>
            </td>
        </tr>
    </table>

    <!-- /ko -->
    <!-- ko if: ($data.output_type() == "neopixel")  -->
    <h4>
        <p data-bind="html: label"></p>
    </h4>
    <table class="table" style="width: 100%;align:left;margin-top:0px;margin-bottom:0px;">
        <tr>
            <td style="width: 20%;align:left;border-top:0px;padding:0px">
                <input type="text" class="input-small" data-bind="value: neopixel_color,
          attr: {name: 'colorpicker', id: 'color_'+ $data.gpio_pin()} ,
          click: $root.showColorPicker()">
            </td>
            <td style="width: 80%; align:left;border-top:0px;padding:0px">
                <button type="submit" data-bind="click: $root.handleNeopixel.bind($data, [gpio_pin()]),
          enable: $root.enableBtn(), attr: {id: 'btn_neopixel_' + $data.gpio_pin()}" class="btn">Set Color</button>
            </td>
        </tr>
    </table>
    <!-- /ko -->
</div>

