<h4>{{ _('Heater') }}</h4>
<table class="table table-bordered table-hover" style="table-layout: fixed; width: 100%; margin-top: 20px">
    <tr>
        <th style="width: 18%"></th>
        <th style="width: 12%; text-align: right">{{ _('Actual') }}</th>
        <th style="width: 35%">{{ _('Target') }}</th>
    </tr>
    <tr>
    	<th style="vertical-align: middle">{{ _('Enclosure') }}</th>
    	<td style="text-align: right; vertical-align: middle" data-bind="html: enclosureTemp"></td>
    	<td style="vertical-align: middle; overflow: visible">
        	<div class="input-append">
            <input type="text" class="input-mini text-right tempInput" id="enclosureSetTemp" data-bind="attr: {placeholder: cleanTemperature(requestEnclosureSetTemperature())}">
            <span class="add-on">&deg;C</span>
                <div class="btn-group">
                    <button type="submit" data-bind="click: setTemperature, enable: settings.settings.plugins.enclosure.heaterEnable && isConnected()" class="btn">{{ _('Set') }}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: settings.settings.plugins.enclosure.heaterEnable && isConnected()">
                    <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-bind="click: turnOffHeater">{{ _('Off') }}</a>
                            </li>
                        </ul>
                </div>
        	</div>
    	</td>
    </tr>
    <tr>
        <th style="vertical-align: middle">{{ _('Humidity') }}</th>
        <td style="text-align: right; vertical-align: middle" data-bind="html: enclosureHumidity"></td>
        <th></th>
    </tr>
</table>

<h4><p data-bind="html: settings.settings.plugins.enclosure.io1Label"></p></h4>
<button type="submit" data-bind="click: handleIO.bind($data, ['io1', 'on'])" class="btn">Turn on</button> 
<button type="submit" data-bind="click: handleIO.bind($data, 'io1', 'off'), enable: settings.settings.plugins.enclosure.io1Enable && isConnected()"   class="btn">Turn off</button>






   



