<!-- ko if: ($root.global_settings.settings.plugins.enclosure.showTempNavbar())  -->
<div class="nav">
    <p class="nav navbar-text" >
      <span data-bind="html: $root.navbarTemp"></span>
    </p>
    <p class="nav navbar-text" ><span data-bind="html: $root.navbarHum"></span></p>
</div>
<!-- /ko -->
