<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Name') }}</label>
        <div class="controls">
            <input type="text" data-bind="value: outputEditor.label">
            <span class="help-inline">Name displayed on Enclosure Tab</span>
        </div>
    </div>
</form>
