<table class="table table-striped table-hover table-condensed table-hover" id="settings_enclosure_outputs" style="">
  <thead>
    <tr>
      <th class="settings_printerProfiles_profiles_name">Id</th>
      <th class="settings_printerProfiles_profiles_model">Type</th>
      <th class="settings_printerProfiles_profiles_action">GPIO</th>
    </tr>
  </thead>
  <tbody >

  </tbody>
</table>

<div class="control-group">
  <button class="btn pull-right" data-bind="click: function() { $root.showOutputEditorDialog(); }">Add Outputs...</button>
</div>
