<form class="form-horizontal" id="enclosure_settings_temperature">
  <h4>{{ _('Temperature Sensor') }}</h4>
  <div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.temperature_reading">
    <div class="controls">
      <label class="checkbox">
        <input id="enableTemperatureReading" type="checkbox" data-bind="checked: isEnabled, click: $parent.fixUI()"> {{ _('Enable Temperature Reading') }}
      </label>
    </div>
    <div id="temperature_reading_content">
      <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtModel">{{ _('Sensor Type') }}</label>
        <div class="controls">
          <select data-bind="value: sensorType">
            <option value="">Select Sensor</option>
            <option value="11">DHT11</option>
            <option value="22">DHT22</option>
            <option value="2302">AM2302</option>
            <option value="18b20">DS18B20</option>
            <option value="si7021">SI7021</option>
            <option value="bme280">BME280</option>
            <option value="tmp102">TMP102</option>
          </select>
          <span class="help-inline">
            <span class="label label-important">Attention</span> You need to install and configure the necessary libraries for the temperature sensor, check
            the documentation on
            <a href=" https://github.com/vitormhenrique/OctoPrint-Enclosure">github</a> page</span>
        </div>
      </div>
      <!-- ko if: ($data.sensorType() == "18b20")  -->
      <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Pin') }}</label>
        <div class="controls">
          <input type="text" class="input-block-level" data-bind="value: gpioPin" value="4" disabled="true">
          <span class="help-inline">GPIO pin for temperature sensor, recommended to use 4 as DS18B20 only works on pin 4</span>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko if: ($data.sensorType() == "si7021") || ($data.sensorType() == "bme280") || ($data.sensorType() == "tmp102") -->
      <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Pin') }}</label>
        <div class="controls">
          <input type="text" class="input-block-level" value="SCL / SDA" disabled="true">
          <span class="help-inline">GPIO pin for temperature sensor need to connect the sensor to I2C. SCL Clock to GPIO 3 (SCL) and SDA Data to GPIO
            2 (SDA)</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Address') }}</label>
        <div class="controls">
          <input type="text" class="input-block-level" data-bind="value: sensorAddress">
          <span class="help-inline">Sensor address in HEX value, you can find it by runing
            <code>i2cdetect -y 1</code> on your Raspberry Pi</span>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko ifnot: ($data.sensorType() == "18b20") || ($data.sensorType() == "si7021") || ($data.sensorType() == "bme280") || ($data.sensorType() == "tmp102") -->
      <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Pin') }}</label>
        <div class="controls">
          <input type="text" class="input-block-level" data-bind="value: gpioPin">
          <span class="help-inline">GPIO pin for temperature sensor, recommended to use 4 as DS18B20 only works on pin 4</span>
        </div>
      </div>
      <!-- /ko -->
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: useFahrenheit"> {{ _('Use Fahrenheit Unit') }}
        </label>
        <span class="help-inline">Choose if you want to work with Celsius or Fahrenheit</span>
      </div>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <h4>{{ _('Temperature Control') }}</h4>
  <div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.temperature_control">
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input id="enableHeater" type="checkbox" data-bind="checked: isEnabled, click: $parent.fixUI()"> {{ _('Enable Temperature Control') }}
        </label>
      </div>
    </div>
    <div id="temperature_control_content">
      <div class="control-group">
        <label class="control-label" for="settings-enclosure-heaterpin">{{ _('Temp Control Pin') }}</label>
        <div class="controls">
          <input type="text" class="input-block-level" data-bind="value: gpioPin">
          <span class="help-inline">GPIO pin used to control Heater.</span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: activeLow"> {{ _('Active Low') }}
          </label>
          <span class="help-inline">Active low means that the heater will turn on when receive a low signal (ground) from Raspbery PI</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">{{ _('Temp Control Type') }}</label>
        <div class="controls">
          <label class="radio">
            <input type="radio" value="heater" name="optradio" data-bind="checked: controlType"> {{ _('Heater') }}</label>
        </div>
        <div class="controls">
          <label class="radio">
            <input type="radio" value="cooler" name="optradio" data-bind="checked: controlType"> {{ _('Cooler') }}</label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: autoStartup"> {{ _('Auto Startup') }}
          </label>
          <span class="help-inline">Choose if you want to automatically startup temperature control when the print starts</span>
        </div>
      </div>
      <!-- ko if: $data.autoStartup  -->
      <div class="control-group">
        <label class="control-label">{{ _('Default Temperature') }}</label>
        <div class="controls">
          <input type="text" class="input-block-level" data-bind="value: defaultTemp">
          <span class="help-inline">Default temperature that temperature control will be set</span>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </div>
</form>