<div id="settings_inputs_edit_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Add / Edit Input</h3>
    </div>
    <div class="modal-body">


        <div class="full-sized-box">
            <ul class="nav nav-pills">
                <li class="active"><a href="#settings_inputs_edit_dialog_general"
                        data-toggle="tab">{{ _('General') }}</a></li>

                <!-- ko if: (inputEditor.input_type() == "regular_gpio")  -->
                <li><a href="#settings_inputs_edit_dialog_io" data-toggle="tab">{{ _('IO Settings') }}</a></li>
                <!-- /ko -->

                 <!-- ko if: (inputEditor.input_type() == "regular_gpio")  -->
                <li><a href="#settings_inputs_edit_dialog_action"
                        data-toggle="tab">{{ _('Action') }}</a></li>
                <!-- /ko -->

                <!-- ko if: (inputEditor.input_type() == "temperature_sensor")  -->
                <li><a href="#settings_inputs_edit_dialog_temperature_sensor"
                        data-toggle="tab">{{ _('Sensor') }}</a></li>
                <!-- /ko -->
            </ul>

            <div class="tab-content">
                <div id="settings_inputs_edit_dialog_general" class="tab-pane active">
                    {% include "input_editor/general_info.jinja2" %}
                </div>

                <div id="settings_inputs_edit_dialog_io" class="tab-pane">
                    {% include "input_editor/io_output.jinja2" %}
                </div>

                <div id="settings_inputs_edit_dialog_action" class="tab-pane">
                    {% include "input_editor/action.jinja2" %}
                </div>

                <div id="settings_inputs_edit_dialog_temperature_sensor" class="tab-pane">
                    {% include "input_editor/temperature_sensor.jinja2" %}
                </div>


            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
        <button class="btn btn-primary btn-confirm"
            data-bind="click: function() { $root.confirmEditInput();}, css: {disabled: !inputEditor.validInput()}">{{ _('Save') }}</button>
    </div>
</div>