<div id="settings_inputs_edit_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Add / Edit Input</h3>
    </div>
    <div class="modal-body">


        <div class="full-sized-box">
            <ul class="nav nav-pills">
                <li class="active"><a href="#settings_inputs_edit_dialog_general"
                        data-toggle="tab">{{ _('General') }}</a></li>

                <li><a href="#settings_inputs_edit_dialog_io" data-toggle="tab">{{ _('IO Settings') }}</a></li>

                <li><a href="#settings_inputs_edit_dialog_printer_action"
                        data-toggle="tab">{{ _('Printer Action') }}</a></li>

                <li><a href="#settings_inputs_edit_dialog_output_action" data-toggle="tab">{{ _('Output Action') }}</a>
                </li>

                <li><a href="#settings_inputs_edit_dialog_temperature_sensor"
                        data-toggle="tab">{{ _('Temperature Sensor') }}</a></li>


            </ul>

            <div class="tab-content">
                <div id="settings_inputs_edit_dialog_general" class="tab-pane active">
                    <!-- {% include "input_folder/general_info.jinja2" %} -->
                </div>

                <div id="settings_inputs_edit_dialog_io" class="tab-pane">
                    <!-- {% include "input_folder/io_output.jinja2" %} -->
                </div>

                <div id="settings_inputs_edit_dialog_printer_action" class="tab-pane">
                    <!-- {% include "input_folder/printer_action.jinja2" %} -->
                </div>

                <div id="settings_inputs_edit_dialog_output_action" class="tab-pane">
                    <!-- {% include "input_folder/output_action.jinja2" %} -->
                </div>

                 <!-- ko if: ($data.input_type() == "temperature_sensor")  -->
                <div id="settings_inputs_edit_dialog_temperature_sensor" class="tab-pane">
                    <!-- {% include "input_folder/temperature_sensor.jinja2" %} -->
                </div>
                <!-- /ko -->

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
        <button class="btn btn-primary btn-confirm"
            data-bind="click: function() { $root.confirmEditInput();}, css: {disabled: !inputEditor.validInput()}">{{ _('Save') }}</button>
    </div>
</div>