<form class="form-horizontal">

    <div class="control-group">
        <div class="controls">
            <span class="help-inline">
                <span class="label label-info">Info:</span> Action will control GPIO outputs when a condition is met,
                for example detect a press of a button.
                You can use this to control any previous configured OUTPUTS, basically being able to control your
                lights / fan
                / printer using mechanical buttons buttons instead of the Octoprint interface. You can only control
                REGULAR outputs.
            </span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"> Controlled IO</label>
        <div class="controls">
            <select >
            </select>
            <span class="help-inline">When the event happen, you want control which OUTPUT?</span>
        </div>
    </div>
    <!-- ko_comment if: ($root.isRegularOutput($data.controlled_io()))  -->
    <div class="control-group">
        <label class="control-label">Set Controlled IO Value</label>
        <div class="controls">
            <select data-bind="value: inputEditor.controlled_io_set_value">
                <option value="low">Low</option>
                <option value="high">High</option>
                <option value="toggle">Toggle</option>
            </select>
            <span class="help-inline">When the event happen, you want to turn the controlled IO HIGH or LOW?</span>
        </div>
    </div>
    <!-- /ko_comment -->


</form>