<form class="form-horizontal">


    <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtModel">{{ _('Sensor Type') }}</label>
        <div class="controls">
            <select data-bind="value: inputEditor.temperature_sensor_type">
                <option value="11">DHT11</option>
                <option value="22">DHT22</option>
                <option value="2302">AM2302</option>
                <option value="18b20">DS18B20</option>
                <option value="si7021">SI7021</option>
                <option value="bme280">BME280</option>
                <option value="am2320">AM2320</option>
                <option value="tmp102">TMP102</option>
                <!-- <option value="max31855">MAX31855</option> -->
                <!-- <option value="mcp9808">MCP9808</option> -->
            </select>
        </div>
    </div>


    <!-- ko ifnot: (inputEditor.temperature_sensor_type() == "si7021") || (inputEditor.temperature_sensor_type() == "bme280") || (inputEditor.temperature_sensor_type() == "tmp102") || (inputEditor.temperature_sensor_type() == "mcp9808") -->
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: inputEditor.gpio_pin" value="4">
            <span class="help-inline">GPIO pin for temperature sensor, recommended to use 4 as DS18B20 has default
                support to pin #4 (BCM)</span>
        </div>
    </div>
    <!-- /ko -->



    <!-- ko if: (inputEditor.temperature_sensor_type() == "18b20")  -->
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('DS18B20 Serial') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: inputEditor.temperature_sensor_address"
                value="">
            <span class="help-inline">DS18B20 serial value, needs to be used to have support for multiple sensors,
                read documentation on github page
                for more information. The serial is typically in the form of 28-0123456789ab.</span>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: (inputEditor.temperature_sensor_type() == "si7021") || (inputEditor.temperature_sensor_type() == "bme280") || (inputEditor.temperature_sensor_type() == "tmp102") || (inputEditor.temperature_sensor_type() == "mcp9808") -->
    <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Address') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: inputEditor.temperature_sensor_address">
            <span class="help-inline">Sensor address in HEX value, you can find it by running
                <code>i2cdetect -y 1</code> on your Raspberry Pi</span>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: (inputEditor.temperature_sensor_type() == "max31855") -->
    <!-- <div class="control-group">
        <label class="control-label" for="settings-enclosure-dhtPin">{{ _('Sensor Pin') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" value="MISO / SCLK" disabled="true">
            <span class="help-inline">GPIO pin for temperature sensor need to connect the sensor to SPI. Serial
                Clock to GPIO 1 (SCLK) and Master In/Slave Out Data to GPIO
                9 (MISO)
            </span>
        </div>
    </div> -->
    <!-- /ko -->


    <div class="control-group">
        <label class="control-label">{{ _('Temperature Unit') }}</label>
        <div class="controls">
            <select data-bind="value: inputEditor.temperature_sensor_unit">
                <option value="celsius">Celsius</option>
                <option value="fahrenheit">Fahrenheit</option>
                <option value="romer">Rømer</option>
            </select>
        </div>
    </div>


</form>